## .NET / C# Build Outputs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

## Visual Studio Cache/Options
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## MSBuild
*.log
*.metaproj
*.metaproj.tmp

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Application-specific
son_dosyalar.txt
*.sifre
